 .navbar-brand {
   /* */
   text-shadow: 0 1px 5px rgba(0,0,0,0.3);
}
.list-steps {
  margin:0 auto 4em auto;
  padding: 0;
  list-style: none;
  display: block;
  display: -webkit-flex; /* Safari */
  display: flex;
  max-width: 500px;
  text-align: center;
}
.list-steps li {
  margin:0;
  padding: 0;
  width: 33.333333333%;
  text-align: center;
}
.list-steps li img {
  width: 90%;
  max-width: 90%;
  display: inline-block;
}

.pre-debug {
  text-align: left;
  overflow: hidden;
  height: 0;
}

/* instagram list */

.instagram-list {
  margin:0 auto 4em auto;
  padding: 0;
  list-style: none;
  display: block;
}

.instagram-list li {
  margin:0 0 2em 0;
  padding: 0;
  list-style: none;
  width: 25%;
  text-align: center;
  float: left;
}

.instagram-list li a {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.stats {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  text-align: left;
  padding: 10px 30px;
  height: 40px;
  vertical-align: middle;
  bottom: -60px;
  transition: all 0.3s ease;
  color: rgba(255,255,255,0);
}

.instagram-list li a:hover .stats {
  bottom: 0;
  color: rgba(255,255,255,1);
}

.instagram-list li img{
  width: 90%;
  display: inline-block;
  border-radius: 5px;
  filter: grayscale(100%);
  transition: all 0.3s ease;
}

.instagram-list li img:hover{
  filter: grayscale(0);
}

.intro {
   height: 100vh;
}

.network-name {
  display: none;
}
.rounded {
  width: 50px;
  height: 50px;
  color: #ff3300;
  font-size: 4em;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
.rounded.btn {
  margin: 0 0 0 -20px;
  padding: 0;
  text-align: center;
  position: relative;
}
.rounded.btn .fa{
  position: absolute;
  width: 100%;
  text-align: center;
  left: 50%;
  margin-left: -50%;
  top: 0;
}
.rounded:hover {
  background: 0;
  color: #fff;
}

.brand-heading {
  text-shadow: 0 1px 10px rgba(0,0,0,0.3);
}

.navbar-nav,
.intro-text {
  text-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

footer {
  color: #666;
  padding-top: 20vh;
  font-size: 16px !important;
}

footer p{
  font-size: 16px !important;
}

.btn {
  border-radius: 50px;
  padding: 25px 50px;
  background: transparent;
  border: 3px solid #ff3300;
  color: #ff3300;
  margin-top: 2em;
  text-rendering: optimizeLegibility;
  letter-spacing: 1px;
}
.btn:hover {
  background: #fff;
  border: 3px solid #fff;
  color: #000;
}
.hitHeart {
  color: #ff3300;
  cursor: pointer;
}
.content-section {
  min-height: 100vh;
}

.brand-tagline {
  font-size: 26px !important;
}
.nav {
  padding: 15px 0 0 0;
  height: 80px;
}
.navbar-brand {
  margin-top: 15px !important;
}

.sort-list {
  transition: all 0.3s ease;
  background: transparent;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 2em;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.7em;
}

.sort-list.active {
  background: #ff3300;
  color: #000;
}

.date-post {
  float: right;
}

/* smaller screens */
@media (max-width: 1000px) {
  .instagram-list li {
    width: 50%;
  }
  h2 {
    font-size: 2em;
  }
}

@media (max-width: 500px) {
  .instagram-list li {
    width: 100%;
  }
}

/* bigger screen */
@media (min-width: 1200px) {
  .navbar {
    /* height: 100px; */
    padding: 5em 0;
  }
}
